/* body {
  margin: 0;
  padding: 0;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  padding: 12px, 10px;
  background-color: brown;
  transition: 0.3s ease;
}
.card:hover {
  transform: rotate(15deg);
  background-color: aqua;
  box-shadow: 40px 41px rgb(25, 7, 7, 0.25);
  animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
  40% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  width: 200px;
  height: 300px;
  background: linear-gradient(rgb(0, 119, 255), navy);
  animation: rotate 2s linear infinite;
}
@keyframes slideInLeft {
  50% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  width: 250px;
  height: 350px;
  background: linear-gradient(blue, navy);
  animation: slideInLeft 1s ease-out forwards;
} */
